body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.scrumboard__box-container {
  background: #f5f5f5;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  color: #5e6c84;
  min-width: 120px;
  flex: 1;
  min-height: 400px;
}

.scrumboard__container {
  display: flex;
}

.task-card__wrapper {
  background-color: white;
  padding: 20px 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px 2px 0 rgba(9, 30, 66, 0.25);
}

.task-card__title {
  margin-bottom: 4px;
}

.over {
  background: #c9c9c9;
}

.project__body-wrapper {
  display: flex;
  margin-top: 24px;
}

.main__wrapper {
  height: 100vh;
  background: #f5f5f5;
}

.main__container {
  margin: 24px;
}
.main__title,
.scrumboard__title {
  color: rgb(23, 43, 77);
}

.project-card__wrapper {
  min-width: 120px;
  margin-left: 24px;
  padding: 20px;
  background-color: white;
  transition: transform 0.2s;
  box-shadow: 0 1px 2px 0 rgba(9, 30, 66, 0.25);
}

.project-card__wrapper:hover {
  transform: scale(1.25);
}

.project-card__type {
  font-size: 12px;
  margin-top: 8px;
}

.search__wrapper {
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  padding: 8px 0;
  align-items: center;
}

.search__wrapper input {
  width: 97%;
  border: none;
  font-size: 12px;
}

input:focus {
  outline: none;
}

.project__search-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.project__search-container {
  width: 300px
}

.project-main__wrapper {
  margin: 20px;
}

.scrumboard__title {
  margin-bottom: 12px;
  font-weight: 600;
}

.project-container {
  padding: 20px;
}